html, body, header, div,
a, img, h1, h2, span, input,
button, nav, ul, li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #234465;
    color: #fff;
    width: 100%;
    height: 110px;
    text-transform: uppercase;
}

#site-branding, #profile {
    display: inline-block;
}

#site-branding {
    width: 300px;
    padding-left: 28px;
    padding-top: 12px;
}

#softuni {
    display: inline-block;
    position: absolute;
    width: 170px;
    height: 55px;
    left: 130px;
    top: 30px;
}

h1, h2 {
    display: inline-block;
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

#beta {
    font-size: 0.7em;
    position: absolute;
    text-transform: lowercase;
    vertical-align: super;
    top: -10px;
    left: 130px;
}

nav {
    position: absolute;
    right: 40px;
    top: 60px;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

#profile {
    float: right;
    padding-right: 75px;
    padding-top: 20px;
}

#notifications, #user {
    padding: 5px;
}

input[type=search] {
    border: 1px solid #d5d5d5;
    border-radius: 5px 0 0 5px;
    width: 238px;
    height: 32px;
    padding-left: 5px;
}

button {
    background-color: #fff;
    background-image: url("../images/search.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    border: 1px solid #d5d5d5;
    border-radius: 0 5px 5px 0;
    width: 33px;
    height: 32px;
    position: absolute;
    right: 42px;
    top: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}

li:hover, #notifications:hover, #user:hover {
    background-color: #234465;
    border-radius: 5px;
}