html, body, main, header, footer,
section, article, div, span, img,
h2, h3, p, time, ul, li, a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #5a5a5a;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
main {
    display: block;
    background-color: #eee;
    padding: 40px 140px;
}
section {
    margin: 25px auto;
}
h2, h3 {
    color: #234465;
}
h2 {
    font-size: 24px;
    font-weight: normal;
}
h3 {
    font-size: 16px;
    text-transform: uppercase;
}
.posted-on {
    display: block;
    text-align: right;
}
article {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-shadow: 0 2px 3px #bfbfbf;
    display: inline-block;
    width: 350px;
    height: 415px;
    margin-right: 28px;
    padding: 33px 40px 15px 35px;
    vertical-align: top;
}
header {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}
.content {
    margin: 20px 0;
}
img {
    width: 100%;
}
p {
    margin-top: 20px;
}
a, a:visited {
    color: #999;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    border-top: 1px solid #eee;
    font-size: 13px;
    padding-top: 20px;
}
ul li {
    background-color: #428bca;
    border: solid 1px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 6px 12px;
}
ul li:hover {
    background-color: #4ca0db;
    border-color: #357ebd;
}
ul li:first-child {
    background-color: #FF9C00;
}
ul li:first-child:hover {
    background-color: #3276b1;
    border-color: #285e8e;
}