body {
    background-image: url("../img/colorful_dots_on_black.jpg");
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body > header {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    color: #FFFF40;
    background-color: #FF0300;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FF0300, endColorstr=#007B08);
    background-image: -moz-linear-gradient(left, #FF0300 33%, #007B08 33%, #007B08 66%, #1500FC 66%);
    background-image: linear-gradient(left, #FF0300 33%, #007B08 33%, #007B08 66%, #1500FC 66%);
    background-image: -webkit-linear-gradient(left, #FF0300 33%, #007B08 33%, #007B08 66%, #1500FC 66%);
    background-image: -o-linear-gradient(left, #FF0300 33%, #007B08 33%, #007B08 66%, #1500FC 66%);
    background-image: -ms-linear-gradient(left, #FF0300 33%, #007B08 33%, #007B08 66%, #1500FC 66%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(33%, #FF0300), color-stop(33%, #007B08), color-stop(66%, #007B08), color-stop(66%, #1500FC));
}

aside {
    float: left;
    background: rgba(255, 255, 255, .9);
    width: 15%;
    min-width: 200px;
    margin-left: 1%;
    margin-top: 30px;
    border-radius: 20px;
}

aside header {
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: bold;
    background: none;
    margin-top: 10px;
    color: black;
    text-align: left;
    padding-left: 10px;
}

aside nav ul {
    margin-left: -30px;
    margin-top: 5px;
}

aside nav li {
    border-radius: 10px;
    width: 80%;
    list-style-type: none;
    background: url("../img/yes.png") no-repeat left center;
    padding: 3px 5px 5px 23px;
    margin-top: 0px;
}

aside nav li:nth-child(1):hover {
    background-color: red;
}

aside nav li:nth-child(2):hover {
    background-color: #FFA612;
}

aside nav li:nth-child(3):hover {
    background-color: #FFFF40;
}

aside nav li:nth-child(4):hover {
    background-color: #007B08;
}

aside nav li:nth-child(5):hover {
    background-color: #1500FC;
}

aside nav li:nth-child(6):hover {
    background-color: #790078;
}

aside nav li a {
    text-decoration: none;
    color: black;
}

aside nav li a:visited {
    text-decoration: none;
    color: #A9AAAE;
}

section {
    width: 78%;
    float: left;
    margin-left: 2%;
    margin-top: 30px;
}

section article {
    border-radius: 20px;
    background: rgba(255, 255, 255, .9);
    padding: 15px;
    margin-bottom: 15px;
}

section article header {
    font-size: 1.6em;
    text-align: left;
    padding: 5px 5px 5px 10px;
    font-weight: normal;
    color: white;
    border-radius: 7px;
}

section article #webColors {
    background-color: #FF0300;
}

section article #webSafeColors {
    background-color: #FFA612;
    color: black;
}

section article #RGB {
    background-color: #FFFF40;
    color: black;
}

section article #RGBA {
    background-color: #007B08;
}

section article #HSLHSV {
    background-color: #1500FC;
}

section article #lorem {
    background-color: #790078;
}

section article div::first-line {
    font-style: italic;
}

section article div:first-letter {
    font-size: 4em;
}

section article footer a {
    color: #797979;
}

section article span:lang(la) {
    color: blue;
    font-style: italic;
}